.forms {
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	background-color: white;
	border: 3px #b3825a solid;
	border-radius: 30px;
	box-shadow: 0 0 3em #000000;
}

.forms form {
	margin-left: auto;
	margin-right: auto;
}

.forms form input {
	margin-left: auto;
	margin-right: auto;
}

.forms form div {
	margin-left: auto;
	margin-right: auto;
}

.forms .buttonHolder {
	text-align: center;
}

input[type="radio"] {
	margin: 0 20px 0 20px;
}