@charset "ISO-8859-1";

#sectionProduitUn {
	display: grid;
	border: solid 1px #efefef;
	background-color: white;
	padding: 25px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
	border-radius: 4px;
	margin: 2%;
	grid-gap: 2%;
	grid-template-columns: 2.8fr 2.5fr 1fr;
	grid-template-row: 3fr 2fr;
}

#divImageUn {
	grid-column: 1;
	grid-row: 1/3;
}

#divImageUn img {
	max-width: 600px;
	border-radius: 2px;
}

#pDescriptionUn {
	grid-column: 2;
	grid-row: 2;
	font-size: 20px;
}

#pDesignationUn {
	font-size: 45px;
	grid-column: 2;
	grid-row: 1;
	text-decoration: underline
}

.formPrix1 {
	grid-column: 3;
	grid-row: 1/3;
	font-size: 20px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 5%;
		text-align: center;
	
}

.formPrix1 button {
	display:flex;
	width: 100%;
	font-size: 90%;
	text-align: center;
	margin-top:20%;
}

.formPrix1 p {
	font-size: 150%;
	margin-bottom:%;
}

#quantite{
	grid-column:3;
	grid-row:2;
		margin-top:10% !important;
	


}
