<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>01_projet_ecom</display-name>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spécifier le chemin du fichier de config du context spring IoC : afin 
		que le conteneur web puisse le charger -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/application-context.xml /WEB-INF/security-context.xml</param-value>
	</context-param>


	<!-- Declaration de la servlet unique de Sprnig MVC : DispatcherServlet -->
	<servlet>
		<servlet-name>unique</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<!-- Spécifier le chemin du fichier de config du context de spring MVC -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/mvc-context.xml</param-value>
		</init-param>
	</servlet>

	<!-- Le mapping de la servlet unique de spring mvc -->
	<servlet-mapping>
		<servlet-name>unique</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Déclaration du filtre de la securité -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<!-- Le mapping du filtre de la securité -->
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Declaration de la page de lancement de mon appli -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>