<header>
	<div>
		<img src="./assets/image/bank2White.png" alt="logo">
	</div>
	<nav>
		<ul id="ulNavBar">
			<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" >Gestion</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a href="loginC" class="dropdown-item">Clients</a><br/>					
					<a href="homeCC" class="dropdown-item">Comptes courant</a><br/>					
					<a href="homeCE" class="dropdown-item">Comptes épargne</a>
				</div>
				</li>
			<li><a href="infosPerso.jsp">Mes informations</a></li>

		</ul>
	</nav>
	<a href="accueil.jsp"><button>Deconnexion</button></a>
</header>

