<footer>

	<section id="sectDescrip">
		<div class="nomLogo">
			<p>
				<a id="titreHeader" href="<c:url value='/intHome'/>">Java<span
					id="esp">&</span>Rien
				</a>
			</p>
		</div>

		<div class="descrptionSite">
			<article>
				<div>
					<p>JAVA&RIEN a selectionné pour vous une large gamme
						d'appareils couvrant un grand nombre de besoins. Une équipe est à
						votre disposition pour vous guider dans votre processus d’achat
						afin de répondre à vos besoins présents et
						futurs.</p>
				</div>
			</article>
		</div>
	</section>

	<section>
		<div>
			<div id="titresect">
				<h4>Catégorie</h4>
			</div>
			<p>
				<a href="https://fr.wikipedia.org/wiki/Dassault_Mirage_2000">Mirage</a>
			</p>
			<p>
				<a href="https://en.wikipedia.org/wiki/Dassault_Rafale">Rafale</a>
			</p>
			<p>
				<a
					href="https://fr.wikipedia.org/wiki/Avions_de_chasse_de_cinqui%C3%A8me_g%C3%A9n%C3%A9ration">Fighters</a>
			</p>
			<p>
				<a href="https://fr.wikipedia.org/wiki/Soukho%C3%AF_Su-57">Russe</a>
			</p>
			<p>
				<a href="https://fr.wikipedia.org/wiki/Supermarine_Spitfire">Recyclage</a>
			</p>
		</div>
	</section>

	<section>
		<div>
			<div id="titresect">
				<h4>Liens utiles</h4>
			</div>
			<p>
				<a href="<c:url value='/prod/prodHome'/>">Service&Gestion</a>
			</p>
			<p>
			<br>
			<div id="titresect">
				<h4>Contactez Le Siège</h4>
			</div>
			<p>Tél: 01 35 01 01 02</p>
			<p>contact@java&rien.com</p>
		</div>

	</section>

	<section>
		<div>
			<div id="titresect">
				<h4>Adresse</h4>
			</div>
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5246.560428318281!2d2.238988028759295!3d48.89099666716274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66505aaadd1dd%3A0xf187c86ce82c7889!2sLa%20D%C3%A9fense!5e0!3m2!1sfr!2sfr!4v1648561250488!5m2!1sfr!2sfr"
				width="210" height="170" style="border: 0;" allowfullscreen=""
				loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</section>
</footer>