<header>
	<div class="nomLogo">

		<p>

			<a id="titreHeader" href="<c:url value='/intHome'/>">Java<span
				id="esp1">&</span>Rien
			</a>

		</p>

	</div>
	<nav id="navHeader">
		<ul id="ulNavBar">
		<li><a style="color: white; font-weight: normal"
			href="<c:url value='/prod/prodHome'/> "><b>Gestion Produits</b></a></li>
		<li><a style="color: white;"
			href="<c:url value='/cat/catHome'/> "><b>Gestion Catégories</b></a></li>
		<li><a style="color: white;"
			href="<c:url value='/master/listeAdmin'/> "><b>Informations</b></a></li>
		<li><a style="color: white;"
			href="<c:url value='/deconnection'/> "><b>Se déconnecter</b></a></li>
		</ul>
	</nav>
</header>
