<link rel="stylesheet"
	href="${pageContext.request.contextPath}/assets/css/bootstrap.css" />
<link rel="stylesheet"
	href="${pageContext.request.contextPath}/assets/css/header.css" />
<link rel="stylesheet"
	href="${pageContext.request.contextPath}/assets/css/affichageProduit.css" />

<link rel="stylesheet"
	href="${pageContext.request.contextPath}/assets/css/unProduit.css" />

<script type="text/javascript" src="./assets/js/jquery-3.6.0.js"></script>

<script type="text/javascript" src="./assets/js/bootstrap.js"></script>


<script type="text/javascript" src="./assets/js/interface.js"></script>

<link
	href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
	rel="stylesheet">

<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<link rel="stylesheet"
	href="${pageContext.request.contextPath}/assets/css/historique.css" />

<link rel="stylesheet"
	href="${pageContext.request.contextPath}/assets/css/footer.css" />